<head>
  <title>demo</title>
</head>

<body>
  {{> todos}}
</body>

<template name="todos">
  <ul>
    {{#each todo in todos}}
      <li id="{{todo._id}}">
        <input type="checkbox" name="{{todo._id}}" checked="{{todo.checked}}">
        <input type="text" name="{{todo._id}}" value="{{todo.text}}">
        {{#if todo.previous}}
          <button class="up" data-id="{{todo._id}}">⬆︎︎</button>
        {{else}}
          <button disabled>⬆︎︎</button>
        {{/if}}
        {{#if todo.next}}
          <button class="down" data-id="{{todo._id}}">⬇︎</button>
        {{else}}
          <button disabled>⬇︎</button>
        {{/if}}
        <button class="delete" data-id="{{todo._id}}">×</button>
      </li>
    {{/each}}
  </ul>

  <form>
    <input type="text" name="text" value="{{todo.text}}">
    <input type="submit" value="+">
  </form>
</template>
